{% extends 'core/base.html' %}

{% load static %}

{% block title %}Noticias{% endblock %}

{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'core/img/actividades.jpg' %}')">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>Eventos</h2>
      <ol>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li>Eventos</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">



        <div data-aos="fade-up" data-aos-delay="200">

          <div class="row gy-5 posts-list">
            {% for evento in eventos %}
            <div class="col-lg-6">
              <article class="d-flex flex-column">

                <div class="post-img">
                  <img src="{{evento.imagen.url}}" alt="" class="img-fluid">
                </div>

                <h2 class="title">
                  <a href="{% url 'evento' evento.id evento.titulo|slugify %}">{{evento.titulo}}</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'evento' evento.id evento.titulo|slugify %}"><time datetime="2022-01-01">{{evento.fecha}}</time></a></li>
                  </ul>
                </div>

                <div class="content">
                  <p>
                    {{evento.introduccion}}
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a href="{% url 'evento' evento.id evento.titulo|slugify %}">Ver más <i class="bi bi-arrow-right"></i></a>
                </div>

              </article>
            </div><!-- End post list item -->
            {% endfor %}

           

          </div><!-- End blog posts list -->

          <div class="blog-pagination">
            <ul class="justify-content-center">
                  {% if page_obj.has_previous %}
                      <li><a style ="border-radius:0%; width:80px; margin-left: 20px;" href="?page=1"> Inicio </a></li>
                      <li><a style ="border-radius:0%; width:80px; margin-left: 20px;" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                  {% endif %}
                  {% if page_obj.has_next %}                      
                      {% for paginas in page_obj.paginator.page_range %}
                      <li><a href="?page={{ paginas }}">{{ paginas }}</a></li>
                      {% endfor %}
                      <li><a style ="border-radius:0%;  width:80px; margin-left: 20px;" href="?page={{ page_obj.next_page_number }}">Siguiente </a></li>
                      <li><a style ="border-radius:0%;  width:80px; margin-left: 20px;" href="?page={{ page_obj.paginator.num_pages }}">Último</a></li>                 
                  {% endif %}
          </div> 

               

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

{% endblock %}


