{% extends 'core/base.html' %}

{% load static %}

{% block title %}Noticias{% endblock %}

{% block content %}

  {% if request.user.is_authenticated %}
    <script>window.location.href = '/accounts/profile/'; </script>
  {% endif %}
<style>.errorlist{color:red;}</style>

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'core/img/actividades.jpg' %}')">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>Registrarse</h2>
      <ol>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li>Registro</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">
        <style>.errorlist{color:red;} label{display:none}</style>
        <div class="container">
            <div class="row mt-3">
              <div class="col-md-9 mx-auto mb-5">
                {% if 'register' in request.GET %}
                  <p style="color:green;">Usuario registrado correctamente, ya puedes identificarte.</p>
                {% endif %}
                <form action="" method="post" >{% csrf_token %}
                  {{form.as_p}}
                  <p><input type="submit" class="btn btn-primary btn-block" style="border-style: none; background: rgb(182, 30, 121); position: static; transform: translate(0%, 0%);" value="Confirmar"></p>
                  </div>
                  </form>
                <div style="position: static; transform: translate(27%, 0%);"> 
                  ¿Ha olvidado su clave? Puede restaurarla <a href="{% url 'password_reset' %}">aquí</a>.
                </div>
              </div>
            </div>
        </div>

      </div>

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

{% endblock %}